@tailwind base;
@tailwind components;
@tailwind utilities;

.card-visual-wrapper {
  width: 100%;
  aspect-ratio: 16 / 10;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  border-radius: 12px;
}
